.app-container{
    padding:0;
    height:100vh;
    background: #BDD4DE;
}
.header{
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.19);
    -mox-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.19);
    text-align: center;
}
.header h4{
    padding: 16px;
    background: #2B3A42;
    color: #fff;
}