.app-container{
    padding:0;
    height:100vh;
    background: #BDD4DE;
}
.header{
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.19);
    -mox-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.19);
    background: #2B3A42;
}
.header span{
    padding: 16px;
    color: #fff;
    height: 54px;
    max-height: 54px;
    font-size: 16px
}
.header i{
    font-size: 24px;
    color:#fff;
}
.header .sub{
    position: relative;
    top: -4px;
}
nav li {
    padding: 5.5px 12px;
}