.icon{
    padding:10px;
    cursor: pointer;
}
.bar i{
    font-size: 16px;
    color: #ccc;
}
.bar{
    background: #fff
}
.gridcontent-container .header, .gridcontent-container .body{
    padding:8px;
}
.gridcontent-container .body{
    height: 78px;
    overflow: hidden;
    padding-top:0
}
.gridcontent-container{
    height: 144px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}
.list-body{
    padding-bottom:2px
}
.partitions{
    padding:12px
}
.dashboardcontainer{
    max-height: calc(100vh - 54px - 44px);
    overflow: auto;
}
input[type=text]{
    border-radius: 16px;
    box-shadow: none;
    border-width: 0;
    padding: 1px 10px;
    border: 1px solid #BDD4DE;
    background: transparent;
    padding-right: 30px;
}

input[type=text]:focus{
    outline: none;
    border-color: #EE6c4D;
    box-shadow: 0 0 8px #EE6c4D;
    transition: 0.2s ease all;
}
